<h1 class="titleMap fontInter">MAPA DE RADIACIÓN SOLAR</h1>
<!-- <div class="formfilter d-flex gap-4 flex-wrap mb-4">
  <select class="selectFilter generalShadow borderRadius" name="year" id="">
    <option selected value="2023">2023</option>
    <option  value="2022">2022</option>
    <option  value="2021">2021</option>
    <option  value="2020">2020</option>
    <option  value="2019">2019</option>
  </select>
  <div class="send p-2  generalShadow borderRadius">Enviar</div>
</div> -->
<div class="containerMap d-flex gap-5 align-items-center">
  <div class="contentMap">
    <div class="map-container">
      <div class="map-frame">
        <div id="map" class="generalShadow borderRadius"></div>
      </div>
    </div>
  </div>

  
  <div class="cardMap generalShadow borderRadius p-4 d-flex flex-column gap-3">
    <h2 class="titleCardMap">RESULTADO DE SELECCIÓN</h2>

    <div class="">
      <span class="textSelected">Lugar seleccionado:</span>
      <p class="citySelected fontInter" [ngClass]="{
        'textRed': type === 1,
        'textgreen': type === 2,
        'textOrange': type === 3
        }">{{ name }}</p>
    </div>

    <p class=" textBold fontInter">{{message}}</p>

    <p class="citySelected fontInter" [ngClass]="{
        'textRed': type === 1,
        'textgreen': type === 2,
        'textOrange': type === 3
        }">Radiación Anual: {{kwm2}} kwh/m2 _ dia</p>
  </div>

</div>
