<h1 class="titleMap fontInter">MAPA DE RADIACIÓN SOLAR</h1>
<div class="containerMap d-flex gap-5 align-items-center">
  <div class="contentMap">
    <div class="map-container">
      <div class="map-frame">
        <div id="map" class="generalShadow borderRadius"></div>
      </div>
    </div>
  </div>

  
  <div class="cardMap generalShadow borderRadius p-4 d-flex flex-column gap-3">
    <h2 class="titleCardMap">RESULTADO DE SELECCIÓN</h2>

    <div class="">
      <span class="textSelected">Lugar seleccionado:</span>
      <p class="citySelected fontInter textOrange" >Rioacha</p>
    </div>

    <p class=" textBold fontInter">✅ Rentable para paneles solares</p>

    <p class="citySelected fontInter textOrange">Radiación promedio: Alta (88%)</p>
  </div>

</div>
