
<app-layout-component></app-layout-component>
<section class="containerSections d-flex juustify-content-between gap-4">
    <div class="cardIntroduction borderRadius generalShadow p-4">
        <h1>PROBLEMATICA</h1>
        <p>
            La energía solar es una alternativa clave para enfrentar el cambio climático, pero su instalación no siempre resulta rentable en todas las regiones ni en todos los meses del año. Muchas decisiones se toman con datos generales, lo que genera inversiones poco efectivas y bajo aprovechamiento energético.
            <br><br>
            Se necesita una herramienta que integre datos climáticos y proyecciones de radiación solar, mostrando de manera clara y visual los lugares y periodos con mayor potencial. Así se facilita la toma de decisiones, optimizando la inversión y promoviendo el uso eficiente de energías renovables.
        </p>

        <div class="containerSubcards d-flex flex-column gap-4 mt-4">
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card4.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Decisiones poco informadas:</p>
                    <span>Muchas instalaciones no consideran datos mensuales de radiación, lo que afecta su eficiencia.</span>
                </div>
            </div>
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card5.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Inversiones ineficientes:</p>
                    <span>Empresas y comunidades corren el riesgo de invertir en lugares poco rentables para paneles solares.</span>
                </div>
            </div>
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card6.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Oportunidad perdidas:</p>
                    <span>Sin información precisa, se desaprovecha el potencial solar de la región para avanzar hacia la sostenibilidad.</span>
                </div>
            </div>
        </div>
    </div>
</section>

