<app-layout-component></app-layout-component>
<section class="containerSections">
    <h1>SIMULADOR DE PRODUCCIÓN SOLAR</h1>

    <span class="subtitleMap">Indique el lugar en el mapa</span>
    <div class="contentMap">
        <div class="map-container">
        <div class="map-frame">
            <div id="map" class="generalShadow borderRadius"></div>
        </div>
        </div>
    </div>
    <br><br>
    <span class="subtitleMap">Ubicación seleccionada</span>
    <br><br>
    <div class="containerForm d-flex justify-content-start align-items-center gap-4">
        <div class="cardDark borderRadius generalShadow">
            <p>Latitud: {{selectedLat}}</p>
            <p>Longitud: {{selectedLng}}</p>
        </div>
        <input type="text" class="generalShadow borderRadius  selectFilter" name="cuantity" placeholder="¿Cuanta energia desea producir en kWh / día?" id="" [(ngModel)]="energia">
        <div class="submitButton generalShadow borderRadius" (click)="sendTables()">Buscar</div>
    </div>


    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>N° de paneles</th>
                    <th>Eficiencia</th>
                    <th>kwh/m2 * dia</th>
                </tr>
            </thead>
            <tbody>
                @if (ok == false) {
                    <tr>
                        <td></td>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                 @if (ok == true) {
                    <tr *ngFor="let d of data">
                        <td>{{d.cantidad_paneles}}</td>
                        <td>{{d.eficiencia}}%</td>
                        <td>{{d.eficiencia}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>