<header class="generalShadow">
  <i class="bi bi-list iconMenu" (click)="openMenu()"></i>
  <img src="assets/logo.png" alt="">
  <div class="visibleMovil"></div>
</header>
<div class="marginHeader"></div>
<div class="layout" [ngClass]=" open ? 'layoutMobile' : 'visibilityHidden'">
    <a href="/">Inicio</a>
    <a href="introducción">Introducción</a>
    <a href="problematica">Problematica</a>

    <a class="d-flex justify-content-between" style="cursor: pointer;" (click)="opensubmenu()">
      <p>Reportes</p>
      <i class="bi bi-caret-up-fill arrow" [ngClass]="openReports ? '' : 'rotate'"></i>
    </a>
    @if (openReports) {
      <div class="submenu" *ngIf="openReports">
        <a class="submenuOption" href="">Reporte de radiación solar</a>
        <a class="submenuOption" href="">Reporte de porcentaje de radiación solar</a>
        <a class="submenuOption" href="">Reporte historico y predicción de radiación solar</a>
      </div>
    }
    
    <a href="">Simulador de producción solar</a>
    <a href="equipo">Equipo de desarrollo</a>
</div>