<div class="containerCards d-flex justify-content-around">
  <div class="cardInfo borderRadius generalShadow p-3 d-flex flex-column gap-2 text-center">
      <div class="titleCard">Alta radiación</div>
      <div class="textOrange textCard">Eficiencia de paneles</div>
      <div class="textOrange textCardBottom">80% - 100%</div>
  </div>

  <div class="cardInfo borderRadius generalShadow p-3 d-flex flex-column gap-2 text-center">
      <div class="titleCard">Media radiación</div>
      <div class="textgreen textCard">Eficiencia de paneles</div>
      <div class="textgreen textCardBottom">60% - 79%</div>
  </div>

  <div class="cardInfo borderRadius generalShadow p-3 d-flex flex-column gap-2 text-center">
      <div class="titleCard">Baja radiación</div>
      <div class="textRed textCard">Eficiencia de paneles</div>
      <div class="textRed textCardBottom">0% - 59%</div>
  </div>
</div>