
<app-layout-component></app-layout-component>
<section class="containerSections d-flex juustify-content-between gap-4">
    <div class="cardIntroduction borderRadius generalShadow p-4">
        <h1>Introducción</h1>
        <p>
            Un sistema interactivo que utiliza temperaturas y radiación solar promedio  para identificar las zonas más efectivas de instalación de paneles solares.
            <br><br>
            <b>SolCaribe</b> integra datos climáticos y algoritmos de análisis para ofrecer una visión clara de la rentabilidad solar por región. La plataforma facilita la toma de decisiones para gobiernos, empresas y comunidades que buscan impulsar la transición energética.
        </p>

        <div class="containerSubcards d-flex flex-column gap-4 mt-4">
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card1.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Sostenibilidad</p>
                    <span>Promueve el uso de energías limpias y reduce la huella de carbono.</span>
                </div>
            </div>
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card2.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Análisis geoespacial</p>
                    <span>Identifica zonas óptimas con mapas interactivos y datos confiables.</span>
                </div>
            </div>
            <div class="subcard d-flex align-items-center p-3 borderRadius generalShadow gap-3">
                <img src="assets/card3.png" alt="">
                <div class="descriptionSubCard">
                    <p class="titleSubcard mb-1">Optimización solar</p>
                    <span>Facilita la instalación de paneles identificando las regiones con mayor potencial energético.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cardIntroduction borderRadius generalShadow">
    </div>
</section>

