.containerSelectsOption{
    display: flex;
    justify-content: start;
}

.contentSelects{
    width: 650px;
    flex-wrap: wrap;
}

.reportSelected{
    background-color: #1D2A39;
    color: #FFFFFF;
}

.selectFilter {
    width: 300px;
    max-width: 50%;
    padding: 10px 30px;
    background-color: #F7F7F7;
    border: none;
}

.containergaphic{
    width: 100%;
    height: 400px;
}

.submitButton{
    height: max-content;
    cursor: pointer;
}

@media (max-width: 800px) {
    .contentSelects{
        width: 100%;
    }

    .containerSelectsOption{
        justify-content: center;
        row-gap: 30px;
    }

    .selectFilter{
        width: 100%;
        max-width: 100%;
    }
}
