.title{}

.cardTeam{
    width: 90%;
    max-width: 400px;
}

.imgCardTeam{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.infoCardTeam{
    width: calc(100% - 80px);
}

.name{
    color: #000000;
    font-weight: bold;
}

.rol{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
}

.description{
    font-size: 14px;
    margin-top: 5px;
}