
<app-layout-component></app-layout-component>
<section class="containerSections">
  <h1 class="title">EQUIPO DE DESARROLLO</h1>

  <div class="containerCardsTeam d-flex justify-content-around gap-5 mt-4 flex-wrap">
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/javier.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">JAVIER MUÑOZ</div>
        <div class="rol">Desarrollador Backend</div>
        <div class="description">Entrenar la inteligencia artificial y preparar los datos para las predicciones (dataset).</div>
      </div>
    </div>
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/cristian.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">CRISTIAN SIERRA</div>
        <div class="rol">Desarrollador Backend</div>
        <div class="description">Desarrollar la lógica principal de la aplicación para que funcione correctamente</div>
      </div>
    </div>
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/juan.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">Juan José Arteta</div>
        <div class="rol">Desarrollador FrontEnd</div>
        <div class="description">Construye interfaces interactivas y funcionales para los usuarios.</div>
      </div>
    </div>
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/eilys.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">EILYS SANTOS</div>
        <div class="rol">Diseñadora Frondend</div>
        <div class="description">Diseñar y mantener una experiencia visual atractiva y fácil de usar.</div>
      </div>
    </div>
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/eduardo.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">EDUARDO PIMIENTA</div>
        <div class="rol">Tutor</div>
        <div class="description">Guía académico y orientador del proyecto.</div>
      </div>
    </div>
    <div class="cardTeam generalShadow borderRadius d-flex align-items-center gap-3 p-2">
      <img class="imgCardTeam" src="/assets/cristian.jpg" alt="">
      <div class="infoCardTeam">
        <div class="name">DIANA SUARES</div>
        <div class="rol">Asesora</div>
        <div class="description">Brinda soporte metodólogico y técnico.</div>
      </div>
    </div>
  </div>
</section>

